[build]
  base = "brewhub-web"
  publish = ".next"
  command = "npm run build"

[functions]
  directory = "netlify/functions"
  node_bundle = {} 

[dev]
  command = "npx next dev"
  port = 8888
  targetPort = 3000
  framework = "next"

[[edge_functions]]
  path = "/marketing-bot"
  function = "marketing-bot"